<%= provide(:title, @user.name) %>
<div class="row">
  <h1 class="col-md-4">
    <%= gravatar_for(@user) %>
    <%= @user.name %>
  </h1>
  <div class="col-md-8">
    <% unless @microposts.empty? %>
      <h2>マイクロポスト（<%= @user.microposts.count %>）</h2>
      <%= render(@microposts) %>
      <%= will_paginate(@microposts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer) %>
    <% end %>
  </div>
</div>