<header class="navbar navbar-expand-lg">
  <div class="container">
    <%= link_to('Sample App', root_path, id: 'logo', class: 'navbar-bland') %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to('ホーム', root_path , class: 'nav-link') %></li>
        <li class="nav-item"><%= link_to('ヘルプ', help_path, class: 'nav-link') %></li>
        <% if logged_in? %>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">アカウント</a>

            <ul class="dropdown-menu">
              <li class="nav-item"><%= link_to('プロフィール', current_user, class: 'nav-link') %></li>
              <li class="nav-item"><%= link_to('ログアウト', log_out_path, method: :delete, class: 'nav-link') %></li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item"><%= link_to('ログイン', log_in_path, class: 'nav-link') %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>